body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .certificate {
    background-color: rgb(222, 231, 222);
    background-image: url(/images/kisspng-banner-john-death-fancy-financial-postage-stamps-5b3f690c5ce5e4.6453648215308823163805.png);
    background-blend-mode:soft-light;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: scroll;
    z-index: -5;
    
    border: 1px solid #ccc;
    padding: 20px;
    width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  #stamp{
    position: relative;
    width: 300px;
    height: 200px;
  }
  #stamp::before{
    position: absolute;
    content: '';
    z-index: -1;
    width: 300px;
    height: 100px;
    background-image: url(/images/png-transparent-postage-stamps-rubber-stamp-pattern-approved-stamp-text-logo-loan.png);
    background-blend-mode:lighten;
    background-repeat: no-repeat;
    opacity: .3;
    background-size: contain;
  }
  header{
    text-align: center;
  }

  header img{
    width: 65px;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  h2 {
    margin-top: 0;
  }
  
  h3 {
    margin-top: 0;
    font-weight: normal;
  }
  
  .certificate-details {
    margin-top: 20px;
  }

  .certificate-details p{
    font-weight:900;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .column {
    flex-basis: 50%;
  }
  
  span {
    font-weight: normal;
  }
  
  .footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    font-style: italic;
    font-size: 12px;
  }
  