/* Reset */
body {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}


/* Header */
.header {
  background-color: #f3f4f6;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 40px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-block: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content button {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    margin: 10px;
    margin-left: 20px;

    display: block;
}

.dropdown-content button:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
.birth-details tr:nth-child(even) {
    background-color: #eee;
}
.birth-details tr:nth-child(odd) {
   background-color:#fff;
}
.birth-details th	{
    background-color: rgb(30, 99, 30);
    color: white;
}


button{
    margin-top: 10px;
    margin-left: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }

  button:hover{
    background-color: #45a049;
  }  

