body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 30px 8rem 30px 8rem;
    /* margin: 5rem; */
    /* border: 1px solid red; */
}

    
/* Button */
button{
    background-color: #4dac76;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    
button:hover {
background-color: #26973b;
}

.proceed-reg{
    position: fixed;
    top: 4rem;
    right: 2rem;
}


h3 {
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: justify;
}

span{
    font-weight: bolder;
}

.affidavit-content {
    max-width: 700px;
    background-color:rgb(247, 244, 241);
    padding: 10px;
    z-index: -5;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.affidavit-section {
    margin-bottom: 20px;
}



.signature {
    /* text-align: right; */
    margin-top: 60px;
}

#stamp {
    /* border-top: 1px solid #000; */
    width: 150px;
    margin: 10px auto 0;

    position: relative;
    width: 300px;
    height: 200px;
}

#stamp::before{
position: absolute;
content: '';
z-index: 1;
width: 150px;
height: 100px;
background-image: url(/images/png-transparent-postage-stamps-rubber-stamp-pattern-approved-stamp-text-logo-loan.png);
background-blend-mode:lighten;
background-repeat: no-repeat;
opacity: .3;
background-size: contain;
}