body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 30px 8rem 30px 8rem;
    /* margin: 5rem; */
    /* border: 1px solid red; */
}

    
/* Button */
button{
    background-color: #4dac76;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    
button:hover {
background-color: #26973b;
}

.proceed-reg{
    position: fixed;
    top: 4rem;
    right: 2rem;
}


h3 {
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: justify;
}

span{
    font-weight: bolder;
}

.affidavit-content {
    max-width: 700px;
    background-color:rgb(247, 244, 241);
    padding: 10px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.affidavit-section {
    margin-bottom: 20px;
}

.signature {
    text-align: right;
    margin-top: 60px;
}

.signature p {
    border-top: 1px solid #000;
    width: 150px;
    margin: 10px auto 0;
}